<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <!-- URL Rewrite for Laravel -->
        <rewrite>
            <rules>
                <rule name="Laravel Pretty URLs" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" />
                </rule>
            </rules>
        </rewrite>

        <!-- Static file MIME types -->
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        </staticContent>

        <!-- Increase request size limits -->
        <requestFiltering>
            <requestLimits maxAllowedContentLength="2147483647" />
        </requestFiltering>

        <!-- Show detailed errors -->
        <httpErrors errorMode="Detailed" />

    </system.webServer>
</configuration>
